html,
body {
    height: 100%;
    /* Define a altura de toda a página como 100% da janela do navegador */
    margin: 0;
    
    /* Remove as barras de rolagem */
    background-color: #bca9f2;
}
.custom-btn {
    background-color: #7b57f2;
    color: rgb(254, 252, 252); /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 20px; /* Ajuste o valor conforme desejado */
    padding: 8px 20px; /* Para melhor espaçamento */
    text-decoration: none;
}

.login-container {
    background-color: #d3d3d3;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container input {
    border-radius: 20px;
    background-color: #7b57f2;
    color: white;
    border: none;
}

.login-container input::placeholder {
    color: #ffffff;
}

.login-container button {
    border-radius: 20px;
    background-color: #7b57f2;
    color: white;
    font-weight: bold;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.cadastro-link {
    color: #7b57f2;
    font-weight: bold;
}



.card {
    background-color: #d3d3d3;
    border-radius: 20px;
    width: 400px;
    height: 750px;
    max-width: 400px;
    /* Largura máxima do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


