body {
    background-color: #b4a1ec;
    margin-bottom: 30px;
    
}

.search-bar {
    background-color: #f2dede;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
}

.card-custom {
    border: 3px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px; /* Largura mínima */
    max-width: 250px; /* Largura máxima */
    
}

.btn-custom {
    
        background-color: #7b57f2;
        color: white; /* Cor do texto */
        border: none; /* Remove a borda */
        border-radius: 20px; /* Ajuste o valor conforme desejado */
        padding: 8px 16px; /* Para melhor espaçamento */
        text-decoration: none; /* Remove o sublinhado */

    }


.btn-custom:hover {
    background-color: #8b5de3;
    color: white;
}
.logo {
    width: 50px;
}
.mt-auto{
  margin-top: auto;
}
