body {
    background-color: #b4a1ec;
    /* Cor de fundo */
    color: #000;
    /* Cor do texto */
    font-family: 'Arial', sans-serif;
}

.container {
    padding: 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-text {
    font-size: 3rem;
    font-weight: bold;
}

.illustration img {
    max-width: 100%;
    height: auto;
}

.nav-link {
    color: #000;
    font-weight: bold;
}

.logo {
    width: 40px;
    height: auto;
    /* Mantém a proporção da imagem */
}

.custom-btn {
    background-color: #7b57f2;
    color: rgb(254, 252, 252); /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 20px; /* Ajuste o valor conforme desejado */
    padding: 8px 20px; /* Para melhor espaçamento */
}